/* App.css */
.container {
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: blue;
    color: white;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .main-content {
   /* Add styles for background image here */
   background-image: url('t.jpg');
   background-size: cover; 
   height: calc(100vh - headerHeight);
   color:white; 
   display:flex; 
   align-items:center; 
   justify-content:center; 
   flex-direction : column;
  
  }
  .service-info h2,
  .service-info p{
   margin :0 ;
  }
  